.pie-de-pagina {
    display: flex;
    flex-direction: row;
    background-color: #3c3c3c;
    color: #ffff;
    justify-content: space-around;
    padding-top: 1em;
    p {
        font-size: 1.6rem;
        font-weight: bold;
        grid-area: copy;
}
}

.envios {
    padding-top: 10px;
    p{
        font-size: 1rem;
}
}

.tarjetas {
  padding-top: 7px; 
  p{
    font-size: 1rem;
} 
}

.redes a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    &:hover {
        color: var(--color-secundario);
    }
}
