.comprar-nosotros {
    font-size: 1em,;
    background-color: #515151;
    color: #000000;
    padding: 8%;
}

.comprar-nosotros h5 {
    color: #ffff;
    padding-bottom: 1em;
}

.comprar-nosotros p {
    font-size: 1em;
    letter-spacing: 1px;
}