*{margin: 0%;
padding: 0%;
font-family: "Glacial";
}

#grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    column-gap: 1fr;
    row-gap: 1fr;
    height: 100vh;
  }

header {
    grid-area: header;
  }

nav {
    grid-area: nav;
  }

footer {
    grid-area: footer;
  }

main {
    grid-area: main;
  }


  
@font-face {
    font-family: "Glacial";
    src: url(../Fonts/GlacialIndifference.otf);
}

/*HEADER*/ 

.linksNav:hover {
    color: #6a6969;
}

.cabecera {  background-color: #3c3c3c;
    border-bottom: 1em solid #333333;
    margin: 0;
    padding: 1em;
}

.cabeceraNav {
    display: flex;
    background-color: #303030;
    list-style: none;
    justify-content: space-evenly;
    border-radius: 1em;
}

.linksNav  {
    color: #ffff;
    text-decoration: none;
    list-style: none;
    font-size: 0.5em;

}

#Cuenta {display: flex;
    position: absolute ;
    top: 1em;
    justify-content:start;
    margin:   1em;
    height: 1em;
} 

#Logo {text-align: center;
    margin-bottom: 10px;
    padding: 0.5;
} 

#Wolf { height: 50px;
} 


#Search {display: flex;
    position: absolute ;
    top: 1em;
    right: 3em;
    justify-content:flex-start;
    margin:   1em;
    height: 1em;
} 

#Shop {display: flex;
    position: absolute ;
    top: 1em;
    right: 0.5em;
    justify-content:flex-start;
    margin:   1em;
    height: 1em;
} 

/*MAIN*/

main {background-color: #515151;  
    height: 370px;
}

.Megasale {padding: 1em;        
    text-align: center;
    background-color: #515151;
    color: #ffff;
    font-size: 0.5em;   
}

#Megasale {text-align: center;   
    height: 100%;
    width: 100%;
}

.Imgs {                          
    display: flex;
    justify-content: space-around;
    left:  1em;
    background-color: #515151;
    height: 37%;

}

/* CÁTALOGO */

.cátalogo  { display: flex;     
     justify-content: center;
     height: 40%;
     padding: 1em;
}

/* CONTACTO */

.Contactanos {padding-bottom: 1em;
     background-color: #515151;
     font-size: 0.5rem;
     margin-left: 1em;
     padding-top: 1em;
}

.Formulario {margin-left: 1em;
     background-color: #515151;
     padding-bottom: 1em;
     font-size: 0.5rem; 
}

#text { width: 10em;
     height: 5em;
}

/* CÓMO COMPRAR */

.instrucciones { display: flex;     
     justify-content: center;
     height: 8.7em;
     padding: 1em;
}

/* SOBRE NOSOTROS */

.nosotros { display: flex;     
     justify-content: center;
     height: 9em;
     padding: 1em;
} 

/*FOOTER*/ 

Footer {display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     background-color: #3c3c3c;
     color: #ffff;
     padding: 0.5em;
     font-size: 0.3rem;
     justify-content: space-around;
     height: 45px;
}

.footer  {
    text-align: center;
}

#Envio {height: 2em;
    margin: 0.5em;
}  

#Tarjetas { height: 3em;
    width: 15em;
    
}

a{text-decoration-line:underline; 
    color: #ffffff;
    font-size: 0.3rem;
}  

/*VISTA MOBILE LANDSCAPE*/ 

@media screen and (max-width: 767px) and (orientation: landscape) { 
    #grilla {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";
    }

#Megasale {text-align: center;   
    height: 60%;
    width: 60%;
}

.Imgs {                          
    display: flex;
    justify-content: space-around;
    left:  1em;
    background-color: #515151;
    height: 50%;

}

.cátalogo  { display: flex;     
     justify-content: center;
     height: 50%;
     padding: 1em;
}

.instrucciones { display: flex;     
     justify-content: center;
     height: 14em;
     padding: 1em;
}

.nosotros { display: flex;     
     justify-content: center;
     height: 14em;
     padding: 1em;
} 

  }


/*VISTA TABLET PORTRAIT*/ 

  @media screen and (min-width: 768px) and (max-width: 1200px) and (orientation: portrait) {
    #grilla {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";
    }
    
.cabecera {  background-color: #3c3c3c;
    border-bottom: 1em solid #333333;
    margin: 0;
    padding: 0.5em;
}

.cabeceraNav {
    display: flex;
    background-color: #303030;
    list-style: none;
    justify-content: space-evenly;
    border-radius: 1em;
}

.linksNav  {
    color: #ffff;
    text-decoration: none;
    list-style: none;
    font-size: 1em;

}

#Cuenta {display: flex;
    position: absolute ;
    top: 1em;
    justify-content:start;
    margin:   1em;
    height: 2em;
} 

#Logo {text-align: center;
    margin-bottom: 20px;
    padding: 1PX;
} 

#Wolf { height: 100px;
} 


#Search {display: flex;
    position: absolute ;
    top: 1em;
    right: 5em;
    justify-content:flex-start;
    margin:   1em;
    height: 2em;
} 

#Shop {display: flex;
    position: absolute ;
    top: 1em;
    right: 0.8em;
    justify-content:flex-start;
    margin:   1em;
    height: 2em;
} 

main {background-color: #515151;  
    height: 900px;
}

.Megasale {padding: 1em;        
    text-align: center;
    background-color: #515151;
    color: #ffff;
    font-size: 1em;   
}

#Megasale {text-align: center;   
    height: 100%;
    width: 100%;
}

.Imgs {                          
    display: flex;
    justify-content: space-around;
    left:  1em;
    background-color: #515151;
    height: 43%;

}

.cátalogo  { display: flex;     
     justify-content: center;
     height: 40%;
     padding: 1em;
}

.Contactanos {padding-bottom: 1em;
     background-color: #515151;
     font-size: 1.3rem; 
     margin-left: 1em;
     padding-top: 1.3em;
}

.Formulario {margin-left: 1em;
     background-color: #515151;
     padding-top: 1.2em;
     font-size: 1.3rem; 
}

#text { width: 20em;
     height: 10em;
}

.instrucciones { display: flex;     
     justify-content: center;
     height: 20em;
     padding: 1em;
}

.nosotros { display: flex;     
     justify-content: center;
     height: 20em;
     padding: 1em;
} 

Footer {display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     background-color: #3c3c3c;
     color: #ffff;
     padding: 0.5em;
     font-size: 0.7rem;
     justify-content: space-around;
     height: 150px;
}

.footer  {
    text-align: center;
}

#Envio {height: 3em;
    margin: 2em;
}  

#Tarjetas { height: 3em;
    width: 15em;
    margin: 2em; 
}

a{text-decoration-line:underline; 
    color: #ffffff;
    font-size: 0.8rem;
}  

  }

  
/*VISTA DESKOPT*/ 

@media screen and (min-width: 1200px) {
    #grilla {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";
    }
    
.cabecera {  background-color: #3c3c3c;
    border-bottom: 1em solid #333333;
    margin: 0;
    padding: 0.5em;
}

.cabeceraNav {
    display: flex;
    background-color: #303030;
    list-style: none;
    justify-content: space-evenly;
    border-radius: 1em;
}

.linksNav  {
    color: #ffff;
    text-decoration: none;
    list-style: none;
    font-size: 1em;

}

#Cuenta {display: flex;
    position: absolute ;
    top: 1em;
    justify-content:start;
    margin:   1em;
    height: 2em;
} 

#Logo {text-align: center;
    margin-bottom: 20px;
    padding: 1PX;
} 

#Wolf { height: 100px;
} 


#Search {display: flex;
    position: absolute ;
    top: 1em;
    right: 5em;
    justify-content:flex-start;
    margin:   1em;
    height: 2em;
} 

#Shop {display: flex;
    position: absolute ;
    top: 1em;
    right: 0.8em;
    justify-content:flex-start;
    margin:   1em;
    height: 2em;
} 

main {background-color: #515151;  
    height: 900px;
}

.Megasale {padding: 1em;        
    text-align: center;
    background-color: #515151;
    color: #ffff;
    font-size: 1em;   
}

#Megasale {text-align: center;   
    height: 100%;
    width: 70%;
}

.Imgs {                          
    display: flex;
    justify-content: space-around;
    left:  1em;
    background-color: #515151;
    height: 43%;

}

.cátalogo  { display: flex;     
     justify-content: center;
     height: 60%;
     padding-top: 60px;
}

.Contactanos {padding-bottom: 1em;
     background-color: #515151;
     font-size: 1rem; 
     margin-left: 1em;
     padding-top: 1.3em;
}

.Formulario {margin-left: 1em;
     background-color: #515151;
     padding-top: 1.2em;
     font-size: 1rem; 
}

#text { width: 20em;
     height: 10em;
}

.instrucciones { display: flex;     
     justify-content: center;
     height: 50%;
     padding: 1em;
}

.nosotros { display: flex;     
     justify-content: center;
     height: 50%;
     padding: 1em;
} 

Footer {display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     background-color: #3c3c3c;
     color: #ffff;
     padding: 0.3em;
     font-size: 0.8rem;
     justify-content: space-around;
     height: 130px;
}

.footer  {
    text-align: center;
}

#Envio {height: 3em;
    margin: 2em;
}  

#Tarjetas { height: 3em;
    width: 15em;
    margin: 2em; 
}

a{text-decoration-line:underline; 
    color: #ffffff;
    font-size: 1rem;
}  

  }
